main {
  background-color: #F0F0F0;
  color: #404040;
  font-family: 'Roboto', sans-serif;
  border-radius: 0.3%;
}

#title {
  padding-top: 50px;
  text-align: center;
  font-size: 2.5em;
  font-weight: bolder;
  font-weight: 800;
}

#subtitle {
  text-align: center;
  font-size: 1em;
  color: #404040;
  font-weight: 300;
}

#img-caption {
  text-align: center;
  font-size: 1em;
  color: #404040;
  font-weight: normal;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

#img-div {
  background-color: white;
  margin: 15px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

#tribute-info {
  margin: auto;
  width: 60%;
  padding: 10px;
  font-size: 1em;
  font-weight: 300;
}

#tribute-info h3 {
  text-align: center;
  padding-bottom: 30px;
}

#tribute-info li {
  padding-bottom: 20px;
}

#tribute-link {
  text-align: center;
}

footer {
  text-align: center;
  padding-bottom: 30px;
}